#!/bin/bash

sudo systemctl daemon-reload 
sudo systemctl enable NetworkManager.service --now
sleep 3

git clone https://aur.archlinux.org/yay.git ~/yay
cd ~/yay && makepkg -sfi --noconfirm
rm -rf ~/yay

yay -S {{ (aur_package_list + host_aur_package_list|default([])) | join(' ') }} --noconfirm

echo "Please update root password:\n"
sudo passwd root

echo "Please update user password:\n"
passwd

sudo systemctl enable lightdm.service --now
